*{
    margin: 0;
    padding: 0;
}
#wrapper{
    width: 960px;
    margin: 0 auto;
}
body{
    background-color: thistle;
}
#header{
    background-color: rgb(80, 96, 107);
    padding: 2px 30px;
    
}
#header h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
#header p{
    color: rgb(226, 240, 28);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#nav{
  height: 50px;  
  background-color: white;
  text-align: right;

}
#nav ul{
    list-style-type: none;
    background-color: white;

}
#nav ul li{
float: left;
border-right: 3px solid blueviolet;



}
#nav ul a{
text-decoration: none;
display: block;
padding: 16px 40px;
}

#nav ul li a:hover{
background-color: chartreuse;
}

#section img{
    width: 960px;
    vertical-align: middle;
    border-bottom: 2px solid rgb(112, 231, 166);

}
#footer{
    background-color:white;
    color: rgb(63, 12, 182);
    text-align: center;
    padding: 2px ;
    border-bottom: 2px solid rgb(112, 231, 166);



}
#member{
    margin-top: 14px;
}
#member ul{
    list-style-type: none;
}
#member ul div li{
    background-color: darkgrey;
}
#member ul div li a{
    color: darkgreen;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    height: 25px;
    padding: 5px;
    font-weight: bold;



}
#member ul div li a:hover{
    background-color: darkorange;
}
#member div{
    border-bottom: 2px solid red;

}
#member div:first-child{
    border-top: 2px solid red;
}


